body {
  font-family: Monospace;
  font-weight: bold;
  margin: 0px;
  overflow: hidden;
}

.ui {
  position: absolute;
  z-index: 2;
}

#skyVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
