body {
  font-family: Monospace;
  font-weight: bold;
  margin: 0px;
  overflow: hidden;
  /* background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(105,130,255,1) 0%, rgba(133,187,255,1) 100%); */
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(49,82,244,1) 0%, rgba(133,187,255,1) 100%);
}

.ui {
  position: absolute;
  z-index: 2;
  width: 100%;
}

#skyVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.topbar-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mute-btn {
  margin-right: 2rem;
  width: 30px;
  margin-left: 1rem;
}

.mute-div {
  display: flex;
  justify-content: center;
  align-items: center;
}